<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang ="en">
  <head>
    <!-- CSS  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Original+Surfer|Play|Rock+Salt|Slackey|Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesurvey2.css"> 
    <link href="public/images/slocrowd3.gif"/>
    <title>Concert Connect</title>
  </head>
  <body>
    <div class="row">
      {{> nav/navbar}}

      {{{ body }}}
    </div>
  </body>
<html>