<div class="row">
  {{! Concert Connect}}
  <div class="container">
    <ul>
      {{#each concert}}
        <div class="card orange">
          <p>{{this.id}}. {{this._name}}</p>
          <h2>Do you wanna go?</h2>  
          <form action="update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="attending" value="true">
            <button type="submit" class="waves-effect waves-light btn orange z-depth-4">Yes!</button>
          </form>
        </div>
      {{/each}}
    </ul>
  </div>

  <div class="container">
    <form class="submit-form" action="/profile/matches" method="POST">
      <button type="submit" class="waves-effect waves-light btn orange z-depth-4">Show me who else is going!</button>
    </form>  
  </div>
</div>