<h1>This is the Concert Connect index handlebars.</h1>
<div class="row">
  <div class="container">
    <ul>
      {{#each match}}
        {{#unless this.cancelled}}
          <div class="card orange">
            <p>
              {{this.id}}. {{this._name}}
              <form action="update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="1">
                <button type="submit" class="waves-effect waves-light btn orange z-depth-4">You Have Coonected</button>
              </form>
            </p>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>