<br>
<br>
<div class="white">
  <h5>Look at who's also going.</h5>
<div>

<div class="row">
  <div class="container">
    <ul>
      {{#each match}}
        <div class="card orange">
          <p>
            {{this.id}}. {{this._name}}
            {{this.attendees}}
          </p>
        </div>
      {{/each}}
    </ul>
  </div>
</div>