/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*font-family: 'Slackey', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Wendy One', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Original Surfer', cursive;
font-family: 'Play', sans-serif;*/

nav ul a,
nav .brand-logo {
    color:orange;
}

p {
  line-height: 2rem;
  font-family: 'Original Surfer';
}
html {
    line-height: 1.5;
    font-family: 'Wendy One';
    font-weight: normal;
    color: purple;
}
h2{
    color: orange;
    font-size: 100px;
}
h4{
    color: purple;
    font-size: 50px;
}
h5{
    color: purple;
    font-size: 20px;
}
h6{
    color: orange;
    font-size: 25px;
}
.white {
    background-color: white !important;
}
.btn-large {
    height: 54px;
    line-height: 54px;
    background-color: purple;
}

.button-collapse {
  color: purple;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: purple;
}
.parallax-container .section {
    width: 100%;
}
.purple-text.text-darken-2 {
    color: orange !important;
}
.input-field label {
    color: orange;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 20px;
    cursor: text;
    transition: .2s ease-out;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: 75px;
  color: purple;
}

footer.page-footer {
  margin: 0;
}